html {
  font-size: 16px;
  font-family: Helvetica;
}
.header {
  display: flex;
  width: 70rem;
  line-height: 4rem;
  margin: auto;
  align-content: center;
}
.header img {
  margin-left: 1.5rem;
}
.nav {
  margin-left: 34rem;
  margin-right: 1.5rem;
}
.nav span {
  height: 2rem;
  margin-left: 1rem;
}

.company strong {
  font-weight: bold;
}
.mobilemenu {
  display: none;
}
.banner {
  background-color: gray;
  width: 70rem;
  display: grid;
  margin: auto;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30rem;
  align-items: center;
  justify-content: center;
}
.banner1 img {
  width: 80%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.learn h1 {
  height: auto;
  font-size: 2.5rem;
}
.learn p {
  font-size: 1.75rem;
  height: auto;
}
.learn button {
  width: 70%;
  height: 4rem;
  font-size: 1.75rem;
  background-color: darkgray;
  color: white;
}
.middle {
  width: 70rem;
  display: grid;
  margin:  auto;
  padding-bottom: 2rem;
  align-items: center;
  overflow: hidden;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 10rem 10rem 10rem;
  grid-template-areas:
    "a b c"
    "a i e"
    "f g h";
}
.info {
  grid-area: a;
  width: 80%;
  height: auto;
  margin-left: 1.5rem;
}
.hurt {
  grid-area: f;
  width: 80%;
  margin-left: 1.5rem;
}
.orientation {
  grid-area: b;
  width: 70%;
  height: auto;
  margin-top: 2rem;

}
.date {
  grid-area: c;
  width: 100%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.our {
  grid-area: e;
  width: 80%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.campus {
  grid-area: i;
  width: 70%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;

}
.lecture {
  grid-area: h;
  margin-top:  4rem;
  margin-bottom: 2rem;
}
.button {
  color: blue;
}
.guest {
  grid-area: g;
  width: 70%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.hurt h1 {
  font-size: 2rem;
  font-weight: bold;
}
.hurt h4 {
  font-size: .75rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.start {
  display: grid;
  width: 70rem;
  height: 46rem;
  margin: 1rem auto;
  justify-content: space-around;
  grid-template-columns: 19rem 19rem 19rem;
  grid-template-rows: 4rem 19rem 19rem;
  grid-row-gap: 1rem;
  background-color: lightgray;
  grid-template-areas:
  ". a ."
  "b c d"
  "e f g";
}
.start h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0 .5rem 0;
}
.start h3,p {
  margin-left: 1rem;

}
.start h1 {
  grid-area: a;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.soft,.comp,.design,.data,.business,.marketing {
  width: 100%;
  height: auto;
  background-color: white;
}
.start img {
  width: 100%;
}
.soft {
  grid-area: b;
}
.comp {
  grid-area: c;
}
.design {
  grid-area: d;
}
.data {
  grid-area: e;
}
.business {
  grid-area: f;
}
.marketing {
  grid-area: g;
}
#thesis {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}
.exhibit {
  display: grid;
  width: 70rem;
  height: auto;
  overflow: hidden;
  margin: 2rem auto;
  grid-template-rows: auto;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10rem 10rem 10rem;
  grid-gap: 1.5rem;
  grid-template-areas:
  "a b"
  "a c"
  "a .";
}
.video video {
  grid-area: a;
  width: 100%;
  height: auto;
}
.video h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fisma {
  display: grid;
  align-items: center;
  grid-template-columns: 35% 65%;
  background-color: lightgray;
}
#prototype, #then {
  width: 100%;
  height: 100%;
}
.now {
  grid-area: c;
  display: grid;
  align-items: center;
  grid-template-columns: 35% 65%;
}
.now span, .fisma span {
  margin-left: .5rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  border-top: 2px solid gray;
}
.footer h5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
