html {
  font-size: 16px;
  font-family: Helvetica;
}
.header {
  display: flex;
  width: 70rem;
  line-height: 4rem;
  margin: auto;
  align-content: center;
}
.header img {
  margin-left: 1.5rem;
}
.nav {
  margin-left: 34rem;
  margin-right: 1.5rem;
}
.nav span {
  height: 2rem;
  margin-left: 1rem;
}

.company strong {
  font-weight: bold;
}
.mobilemenu {
  display: none;
}
.banner {
  background-color: gray;
  width: 70rem;
  display: grid;
  margin: auto;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30rem;
  align-items: center;
  justify-content: center;
}
.banner1 img {
  width: 80%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.learn h1 {
  height: auto;
  font-size: 2.5rem;
}
.learn p {
  font-size: 1.75rem;
  height: auto;
}
.learn button {
  width: 70%;
  height: 4rem;
  font-size: 1.75rem;
  background-color: darkgray;
  color: white;
}
.middle {
  width: 70rem;
  display: grid;
  margin: auto;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 15rem 15rem 15rem;
  grid-template-areas:
    "a b c"
    "a i e"
    "f g h";
}
.info img {
  grid-area: a;
  width: 80%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hurt {
  grid-area: f;
  width: 80%;

}
.orientation img {
  grid-area: b;
  width: 80%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.date {
  grid-area: c;
  width: 80%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.our {
  grid-area: e;
  width: 80%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.campus  {
  grid-area: i;
  width: auto;
}
.lecture {
  grid-area: h;
}
.guest {
  grid-area: g;
}
